<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.music_recomend_profile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".setting.GenderSelect"></activity>
        <activity android:name=".setting.EditProfile" />
        <activity android:name=".setting.RequireUpdate" />
        <activity android:name=".setting.AccountManagement" />
        <activity android:name=".setting.SettingListAdapter" />
        <activity android:name=".setting.SettingListActivity" />
        <activity android:name=".UserFeedActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>